/* Reset some default styles */
body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}
/* Add this to your existing CSS */
/* CSS to hide teacher details by default */
.teacher-details {
    display: none;
  }
  
  /* CSS to show teacher details when 'show-details' class is applied */
  .teacher-details.show-details {
    display: block;
  }
  


.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007BFF;
}

.menu-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: background-color 0.3s;
}

.menu-button.active .bar {
    background-color: #007BFF;
}

#search-section {
    text-align: center; /* Center the content horizontally */
    margin: 20px auto; /* Center the section vertically and horizontally */
}


#search-topic {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #0056b3;
}

.teacher-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.teacher-card h3 {
    color: #333;
}

.teacher-card p {
    margin-top: 10px;
}
/* Style the user profile information placeholder text */


.learn-more-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.learn-more-button:hover {
    background-color: #384b60;
}

.teacher-details {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.teacher-details p {
    margin-bottom: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.teacher-details {
    display: none;
}
